body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 20, 24);
  color: #eee;
  user-select: none;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  max-width: 300px;
  margin: auto;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}

.card-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
  padding: 1rem;
}

.card-img {
  border-radius: 0.5rem;
  width: 270px;
  height: 270px;
  object-fit: cover;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  margin: 0.5rem 0;
  color: #a89ec9;
  height: 2rem;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff9800;
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  height: 52px;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.btn:active {
  outline: 0;
}

.btn:focus {
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 3px;
}

ul {
  counter-reset: index;
  padding: 0;
  max-width: 300px;
  margin-top: 1rem;
}

li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.favourited {
  background-color: #fff6e5;
  border: 2px solid #ff9800;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup content */
.popup {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup ul {
  list-style: none;
  padding: 0;
}

.popup ul li {
  margin: 8px 0;
}

.close-popup {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}
